vti_encoding:SR|utf8-nl
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.1330
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|23 Sep 2022 15:47:09 +0200
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Principal
vti_disableautoimgsizeexts:SX|.asp
vti_webservertype:SR|frontpage
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_structfrom_rubnium-8c0733b\:80:TR|23 Sep 2022 15:43:48 +0200
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_navbuttonprevlabel:SR|Atrás
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|none
vti_missingoverlays:VX|
vti_themedefault:SR|global 101
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|index.htm
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|es
vti_navbuttonuplabel:SR|Arriba
vti_ignorekeyboard:IR|0
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_borderdefault:SR|tl
vti_navbuttonnextlabel:SR|Adelante
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
