vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.1330
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|23 Sep 2022 12:25:33 +0200
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Principal
vti_webservertype:SR|frontpage
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_structfrom_rubnium-8c0733b\:80:TR|11 Jul 1997 02:10:57 +0200
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_navbuttonprevlabel:SR|Atrás
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|none
vti_themedefault:SR|global 101
vti_welcomenames:VX|index.htm
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|es
vti_navbuttonuplabel:SR|Arriba
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_borderdefault:SR|tl
vti_navbuttonnextlabel:SR|Adelante
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
